
.projectURL{
  color:rgb(0,51,102);
  text-decoration:none;
}

.projectURL:hover{
  text-decoration:underline;
}

.projectName{
  margin:10px 10px 5px 10px;
}

.projectDescription{
  font-size:.9em;
  max-width:700px;
  margin:0 10px 15px 10px;
}

.contactNames{
  font-size:.9em;
  max-width:600px;
  margin:0 10px 15px 10px;
  color:rgb(0,51,102);
}

.contactEmails{
  font-size:.9em;
  max-width:600px;
  margin:0 10px 15px 10px;
  color:rgb(0,51,102);
}

.projectNavigationContainer{
  background:#fff;
  width:100%;
  margin:10px auto 10px auto;
  text-align:center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:8000;
  border-top:2px solid rgb(220,220,220);
  border-bottom:2px solid rgb(220,220,220);
}

.projectNavigationContainer a{
  text-decoration:none;
  cursor: pointer;
  color:rgb(0,51,102);
  font-size:.8em;
}

.projectNavigationContainer a.active{
  background:rgb(0,51,102) !important;
  color:#fff;
}

.projectNavigationContainer a:hover{
  background:rgb(0,51,102) !important;
  color:#fff;
}

.line{
  height:2px;
  background:rgb(220,220,220);
}

.topShelf{
  display:flex;
  flex-wrap: wrap;
}

#siteTraversal,
.timeToggle{
  height:40px;
}

#siteTraversal{
  flex:1;
  display:flex;
}

.timeToggle{
  width:100%;
  display:flex;
}

#siteTraversal a,
.timeToggle a{
  height:30px;
  padding:10px 0 0 0;
}

#siteTraversal a{
  display:inline-block;
  width:100%;
}

a.returnHome{
  border-right:2px solid rgb(220,220,220);
  background:rgb(0,51,102);
  color:#fff;
}

a.returnHome:hover{
  background:rgb(225,225,225) !important;
  color:rgb(0,51,102);
}

#siteTraversal a,
.timeToggle a{
  flex:1;
}

.year, .month, .week {
  display:none;
}

@media screen and (min-width:1061px){
  .shelf{
    max-width:900px;
    margin:0 auto;
  }

  #pieChart img{
    width:40%;
  }
}


