.return{
  padding:8px 10px;
  background:rgb(0,51,102);
  color:#fff;
  border-radius:5px;
  border:1px solid rgb(0,51,102);
  font-size:.9em;
  outline:none;
  margin-bottom:20px;
  cursor:pointer;
}

.return:hover{
  background:#fff;
  color:rgb(0,51,102);
}

#sliders,
#project,
#monthlyGeo{
  margin-bottom:10px;
}

.chart{
  min-height:50px;
  margin-bottom:10px;
}

#pageStats{
  min-height:100px;
}

#projectLineChart{
  min-height:100px;
}

#projectLineChart img,
#monthlyGeoMap img,
#monthlyDeviceChart img,
#monthlyUsersChart img,
#monthlyTrafficChart img,
#monthlyTimeChart img{
  width:100%;
}

#monthlyDeviceCharts{
  width:50%;
}

#monthlyGeoMap{
  min-height:185px;
}

#monthlyDeviceChart,
#monthlyUsersChart,
#monthlyTrafficChart,
#monthlyTimeChart{
  min-height:50px;
}

@media screen and (min-width:768px){
  
  #monthlyGeo,
  #monthlyDeviceTypes,
  #monthlyTraffic{
    margin-right:10px;
  }
  
}
