*{padding:0; margin:0;}

body,
html{
  font-family:"Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  height:100%;
  min-width:767px;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight:400;
}

.flexContainer{
  display:flex;
  flex-direction:row;
}
.flex1{
  flex:1; 
}

.container{
  min-height:100%;
}

.sideBar{
  border-right:1px solid rgb(220,220,220);
  width:20%;
  max-width:316px;
}

.sideBar h4{
  padding:7px 2% 5px 2%;
}

.content{
  padding:10px;
  width:80%;
}

.box{
  border:1px solid #000;
}

.rotate{
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.slider h4{
  line-height:28px;
  float:left;
}

.disclaimer h3,
.glossary h3{
  font-weight:600;
  margin-top:20px;
}

.disclaimer a,
.glossary a{
  color:rgb(0,51,102);
  font-weight:600;
  text-decoration:none;
  cursor:pointer;
}

.disclaimer a:hover,
.glossary a:hover{
  text-decoration:underline;
}

.disclaimer p,
.glossary p{
  margin-bottom:10px;
  font-size:1em;
}

#projects a{
  color:rgb(0,51,102);
  text-decoration:none;
  display:inline-block;
  padding:10px 2%;
  width:96%;
  border-top:1px solid rgb(220,220,220);
}

#projects a:hover{
  background:rgb(0,51,102);
  color:#fff;
}

#projects p{
  font-size:.8em;
}

#projects p:nth-child(1){
  padding-top:5px;
}

.topHalf{
  min-height:100px;
  margin-bottom:10px;
  clear:both;
}

.bottomHalf{
  min-height:100px;
}

#users{
  min-height:50px;
}

#timeline{
  min-height:100px;
  text-align:center;
}

.timelinePlot{
  min-height:50px;
  margin-top:10px;
}

.timelinePlot img,
#geoMap img,
#deviceType img,
#traffic img,
#timeDayChart img,
#AveTimeChart img{
  width:100%;
}

#deviceTraffic{
  margin-bottom:10px;
}

#deviceType{
  margin-right:10px;
}

#geoMap{
  min-height:100px;
}

#deviceType{
   min-height:100px;
}

#traffic{
  min-height:100px;
}

.topicHeader{
  margin:10px 0 5px 0;
}

.topicHeader h3{
  font-weight:600;
}

@media screen and (min-width:768px){
  .topicHeader{
    margin:0 0 5px 0;
  }
  #geo,
  #project,
  #projectListHolder{
    margin-right:10px;
  }
  #deviceType{
    margin-bottom:10px;
  }
  #projectListHolder{
    width:300px;
  }
  .glossary,
  .disclaimer{
    width:600px;
    margin:0 auto;
  }
  .glossary h3{
    margin-top:10px;
  }
}

@media screen and (min-width: 1200px){
  .glossary,
  .disclaimer{
    width:960px;
    margin:0 auto;
  }
  .content{
    width:1100px;
    margin:0 auto;
  }
}

@media screen and (min-width:1700px){
  .content{
    width:1400px;
  }
}

