<div class="container flexContainer">
  <div class="navigationSidebar">
    <div class="navigationContent">
      <a class="returnHome" href="index.html">
        Return to Summary
      </a>
      <div class="projectToggle">
        {{#previous_link}}
        <a href="{{{previous_link}}}">
          Previous Application
        </a>
        {{/previous_link}}
        {{#next_link}}
          <a href="{{{next_link}}}">
            Next Application
          </a>
        {{/next_link}}
      </div>
    </div>
    {{{sideBar}}}
  </div>
	<div class="content flex5">
		<h2 class="projectName">
		  <a  class="projectURL" href="{{project_URL}}" target="_blank">
			{{project_name}}
		  </a>
		</h2>
		<p class="projectDescription">{{project_description}}</p>
		<br>
		<p class="contactNames">
		  <b>Project Contact:</b>  {{project_contact}},
		  <a class="contactEmails", href=mailto:{{project_contact_email}}>
		    {{project_contact_email}}
		  </a>
		</p>
		<p class="contactNames">
		  <b>Analytics Contact:</b>  {{analytics_contact}},
		  <a class="contactEmails", href=mailto:{{analytics_contact_email}}>
		    {{analytics_contact_email}}
		  </a>
		</p>
		<div class="projectNavigationContainer">
		  <div class="timeToggle">
        <a id="yearButton" class="active">Year</a>
      	<a id="monthButton">Month</a>
      	<a id="weekButton">Week</a>
      </div>
		</div>
		<section id="lineAssessments" class="full">
			<div class="header">
				<h3>Project Timeline Summaries</h3>
				<div class="information">
					{{{informationImg}}}
					<div class="informationContent">
						{{{info_session_time}}}
					</div>
				</div>
			</div>
			<div class="chartArea">
			  <span class="year figure">
			    <h3>Year</h3>
				  {{{year_line_sessions}}}
				</span>
				<span class="month figure">
			    <h3>Month</h3>
				  {{{month_line_sessions}}}
				</span>
				<span class="week figure">
			    <h3>Week</h3>
				  {{{week_line_sessions}}}
				</span>
			</div>
		</section>
		<section class="half flexContainer">
			<div class="flex1 flexBorder">
							<div class="header">
					<h3>Geographic Locations</h3>
					<div class="information">
					  {{{informationImg}}}
					  <div class="informationContent">
						{{{info_geo}}}
					  </div>
					</div>
				</div>
				<div class="chartArea">
  				<span class="year figure">
  			    <h3>Year</h3>
  				  {{{viz_geo_apps_year}}}
  				</span>
  				<span class="month figure">
  			    <h3>Month</h3>
  				  {{{viz_geo_apps_month}}}
  				</span>
  				<span class="week figure">
  			    <h3>Week</h3>
  				  {{{viz_geo_apps_week}}}
  				</span>
				</div>
			</div>
			<div class="flex1">
			  <div class="header">
					<h3>Traffic Sources</h3>
					<div class="information">
						{{{informationImg}}}
						<div class="informationContent">
						  {{{info_source}}}
						</div>
					</div>
				</div>
				<div class="chartArea">
					<span class="year figure">
  			    <h3>Year</h3>
  				  {{{viz_source_year}}}
  				</span>
  				<span class="month figure">
  			    <h3>Month</h3>
  				  {{{viz_source_month}}}
  				</span>
  				<span class="week figure">
  			    <h3>Week</h3>
  				  {{{viz_source_week}}}
  				</span>
				</div>
			</div>
		</section>
		<section class="half flexContainer">
			<div class="flex1 flexBorder">
				<div class="header">
					<h3>Device Type</h3>
					<div class="information">
					  {{{informationImg}}}
  					<div class="informationContent">
  					  {{{info_device}}}
  					</div>
				  </div>
				</div>
				<div class="chartArea">
  				<span class="year figure">
  			    <h3>Year</h3>
  				  {{{viz_device_type_year}}}
  				</span>
  				<span class="month figure">
  			    <h3>Month</h3>
  				  {{{viz_device_type_month}}}
  				</span>
  				<span class="week figure">
  			    <h3>Week</h3>
  				  {{{viz_device_type_week}}}
  				</span>
				</div>
			</div>
			<div class="flex1">
			  <div class="header">
					<h3>User Time on Page</h3>
					<div class="information">
					{{{informationImg}}}
					<div class="informationContent">
					  {{{info_ave_time}}}
					</div>
				  </div>
				</div>
				<div class="chartArea">
				  <span class="year figure">
  			    <h3>Year</h3>
  				  {{{app_time_year}}}
  				</span>
  				<span class="month figure">
  			    <h3>Month</h3>
  				  {{{app_time_month}}}
  				</span>
  				<span class="week figure">
  			    <h3>Week</h3>
  				  {{{app_time_week}}}
  				</span>

				</div>
			</div>
		</section>
		<section class="half flexContainer">
			<div class="flex1 flexBorder">
				<div class="header">
					<h3>New vs Returning Users</h3>
					<div class="information">
						{{{informationImg}}}
						<div class="informationContent">
						  {{{info_new_return}}}
						</div>
					</div>
				</div>
				<div class="chartArea">
					<span class="year figure">
  			    <h3>Year</h3>
  				  {{{new_vs_returning_year}}}
  				</span>
  				<span class="month figure">
  			    <h3>Month</h3>
  				  {{{new_vs_returning_month}}}
  				</span>
  				<span class="week figure">
  			    <h3>Week</h3>
  				  {{{new_vs_returning_week}}}
  				</span>
				</div>
			</div>
			<div class="flex1">
				<div class="header">
					<h3>Time-of-Day Activity</h3>
					<div class="information">
					{{{informationImg}}}
					<div class="informationContent">
					  {{{info_time_of_day}}}
					</div>
				  </div>
				</div>
				<div class="chartArea">
				  <span class="year figure">
  			    <h3>Year</h3>
  				  {{{timeDayUse_app_year}}}
  				</span>
  				<span class="month figure">
  			    <h3>Month</h3>
  				  {{{timeDayUse_app_month}}}
  				</span>
  				<span class="week figure">
  			    <h3>Week</h3>
  				  {{{timeDayUse_app_week}}}
  				</span>
				</div>
			</div>
		</section>
		<section class="disclaimerGlossary">
		  <div class="header">
				<h3>Disclaimer/Glossary</h3>
			</div>
		  {{{disclaimerGlossaryText}}}
		</section>
	</div><!--content-->
</div>
