<div class="container">
	<div id="sliders" class="flexContainer">
		<div id="projectListHolder" class="slider">
		  <div id="projectList">
  			<h4>
  			  Projects List 
  			  <div class="arrow">
  			    {{{arrow}}}
  			  </div>
  			</h4>
  			
  		  <div id="projects">
  		    <p>Bio Data</>
  		    <p>Coastal Change Hazards</p>
  		    <p>Drought</p>
  		  </div>
		  </div>
		</div>
		<div class="disclaimerHolder slider flex1">
		  <div class="disclaimer">
  			<h4>
  			  About this report
  			  <div class="arrow">
  			    {{{arrow}}}
  			  </div>
  			</h4>
  			<div class="disclaimerText">
  			  <p>{{{aboutThisReport}}}</p>
  			  <h3>{{{disclaimerTitle}}}</h3>
  			  <p>{{{disclaimer1}}}</p>
  			  <p>{{{disclaimer2}}}</p>
  			</div>
			</div>
		</div>
	</div>
	<div class="topHalf flexContainer">
		<div id="project" class="flex1">
			<div id="projectName" class="topicHeader">
				<h2>Project Name</h2>
			</div>
			<div id="projectLineChart">
				<div id="yearLineChart" class="lineChart">
				  <h3>Year</h3>
				  <div class="chart box"></div>
				</div>
				<div id="monthLineChart" class="lineChart">
				  <h3>Month</h3>
				  <div class="chart box"></div>
				</div>
				<div id="weekLineChart" class="lineChart">
				  <h3>Week</h3>
				  <div class="chart box"></div>
				</div>
				<div id="dayLineChart" class="lineChart">
				  <h3>Day</h3>
				  <div class="chart box"></div>
				</div>
			</div>
		</div>
		<div id="monthlyInteractions" class="flex1">
			<div class="topicHeader">
				<h2>Monthly Interactions</h2>
			</div>
			<div id="pageStats" class="box"></div>
		</div>
	</div>
	<div class="bottomHalf flexContainer">
		<div id="monthlyGeo" class="flex1">
			<div class="topicHeader">
				<h2>Monthly Geo</h2>
			</div>
			<div id="monthlyGeoMap" class="box"></div>
		</div>
		<div id="monthlyDeviceCharts" class="flex1">
			<div class="topicHeader">
				<h2>Monthly Devices</h2>
			</div>
			<div id="deviceCharts">
				<div class="topHalf flexContainer">
					<div id="monthlyDeviceTypes" class="flex1">
						<div class="topicHeader">
							<h5>Device Type</h5>
						</div>
						<div id="monthlyDeviceChart" class="box"></div>
					</div>
					<div id="monthlyUsers" class="flex1">
						<div class="topicHeader">
							<h5>New vs Returning Users</h5>
						</div>
						<div id="monthlyUsersChart" class="box"></div>
					</div>
				</div>
				<div class="bottomHalf flexContainer">
					<div id="monthlyTraffic" class="flex1">
						<div class="topicHeader">
							<h5>Traffic</h5>
						</div>
						<div id="monthlyTrafficChart" class="box"></div>
					</div>
					<div id="monthlyTime" class="flex1">
						<div class="topicHeader">
							<h5>Average Time</h5>
						</div>
						<div id="monthlyTimeChart" class="box"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="glossary">
	  <h3>{{{glossaryTitle}}}</h3>
	  <p>{{{session}}}</p>
	  <p>{{{visitors}}}</p>
	  <p>{{{geographical}}}</p>
	  <p>{{{average}}}</p>
	  <p>{{{traffic}}}</p>
	  <p>{{{device}}}</p>
	</div>
</div>
