<div class="flip-clock-wrapper totalTime">
  <div class="clockContainer">
	  <div class="clockLabel">
		  <span>{{timeLabel}}</span>
		</div>
		<div class="clockNumbersContainer">
		  {{#flipGroup1}}
	      {{> flipClockFlips}}
      {{/flipGroup1}}
		</div>
	</div>
	<span class="flip-clock-divider days">
	  <span class="flip-clock-dot top"></span>
		<span class="flip-clock-dot bottom"></span>
	</span>
	<div class="clockContainer">
	  <div class="clockLabel">
		  <span>{{timeLabel}}</span>
		</div>
		<div class="clockNumbersContainer">
		  {{#flipGroup2}}
	      {{> flipClockFlips}}
      {{/flipGroup2}}
		</div>
	</div>
	<span class="flip-clock-divider hours">
	  <span class="flip-clock-dot top"></span>
		<span class="flip-clock-dot bottom"></span>
	</span>
	<div class="clockContainer">
	  <div class="clockLabel">
		  <span>{{timeLabel}}</span>
		</div>
		<div class="clockNumbersContainer">
		  {{#flipGroup3}}
	      {{> flipClockFlips}}
      {{/flipGroup3}}
		</div>
	</div>
