<ul class="flip">
  <li class="flip-clock-before">
	  <a href="#">
		  <div class="up">
			  <div class="shadow"></div>
				<div class="inn">{{.}}</div>
			</div>
			<div class="down">
				<div class="shadow"></div>
				<div class="inn">{{.}}</div>
			</div>
		</a>
	</li>
	<li class="flip-clock-active">
	  <a href="#">
		  <div class="up">
			  <div class="shadow"></div>
				<div class="inn">{{.}}</div>
			</div>
			<div class="down">
			  <div class="shadow"></div>
				<div class="inn">{{.}}</div>
			</div>
		</a>
	</li>
</ul>
