<div class="container flexContainer">
  <div class="navigationSidebar">
    {{{sideBar}}}
  </div>
  <div class="content flex5">
    <section class="full">
      <div class="header">
				<h3>Sessions</h3>
				<div class="information">
				    {{{informationImg}}}
				    <div class="informationContent">
				      {{{info_sessions}}}
				    </div>
				  </div>
			</div>
			<div class="chartArea">
				{{{portfolio_sessions_all}}}
			</div>
    </section>
    <div class="projectNavigationContainer">
      <div class="shelf">
        <div class="timeToggle">
    		  <a id="yearButton" class="active">Year</a>
    			<a id="monthButton">Month</a>
    			<a id="weekButton">Week</a>
    		</div>
    	</div>
		</div>
  <section id="lineAssessments" class="full">
			<div class="header">
				<h3>Timeline Summaries</h3>
				<div class="information">
					{{{informationImg}}}
					<div class="informationContent">
						{{{info_session_time}}}
					</div>
				</div>
			</div>
			<div class="chartArea">
				<span class="year figure">
			    <h3>Year</h3>
				  {{{portfolio_timeline_year}}}
				</span>
				<span class="month figure">
			    <h3>Month</h3>
				  {{{portfolio_timeline_month}}}
				</span>
				<span class="week figure">
			    <h3>Week</h3>
				  {{{portfolio_timeline_week}}}
				</span>
			</div>
		</section>
		<section class="half flexContainer">
			<div class="flex1 flexBorder">
				<div class="header">
					<h3>Geographic Location</h3>
					<div class="information">
						{{{informationImg}}}
						<div class="informationContent">
						  {{{info_geo}}}
						</div>
					</div>
				</div>
				<div class="chartArea">
  				<span class="year figure">
  			    <h3>Year</h3>
  				  {{{viz_geo_portfolio_year}}}
  				</span>
  				<span class="month figure">
  			    <h3>Month</h3>
  				  {{{viz_geo_portfolio_month}}}
  				</span>
  				<span class="week figure">
  			    <h3>Week</h3>
  				  {{{viz_geo_portfolio_week}}}
  				</span>
				</div>
			</div>
			<div class="flex1">
				<div class="header">
					<h3>Traffic Source</h3>
					<div class="information">
						{{{informationImg}}}
						<div class="informationContent">
						  {{{info_source}}}
						</div>
					</div>
				</div>
				<div class="chartArea">
					<span class="year figure">
  			    <h3>Year</h3>
  				  {{{portfolio_source_year}}}
  				</span>
  				<span class="month figure">
  			    <h3>Month</h3>
  				  {{{portfolio_source_month}}}
  				</span>
  				<span class="week figure">
  			    <h3>Week</h3>
  				  {{{portfolio_source_week}}}
  				</span>
				</div>
			</div>
		</section>
		<section class="half flexContainer">
			<div class="flex1 flexBorder">
				<div class="header">
					<h3>Device Type</h3>
					<div class="information">
						{{{informationImg}}}
						<div class="informationContent">
						  {{{info_device}}}
						</div>
					</div>
				</div>
				<div class="chartArea">
				  <span class="year figure">
  			    <h3>Year</h3>
  				  {{{portfolio_device_type_year}}}
  				</span>
  				<span class="month figure">
  			    <h3>Month</h3>
  				  {{{portfolio_device_type_month}}}
  				</span>
  				<span class="week figure">
  			    <h3>Week</h3>
  				  {{{portfolio_device_type_week}}}
  				</span>
				</div>
			</div>
			<div class="flex1">
				<div class="header">
					<h3>User Time</h3>
					<div class="information">
				    {{{informationImg}}}
				    <div class="informationContent">
				      {{{info_ave_time}}}
				    </div>
				  </div>
				</div>
				<div class="chartArea">
					<span class="year figure">
  			    <h3>Year</h3>
  				  {{{portfolio_time_year}}}
  				</span>
  				<span class="month figure">
  			    <h3>Month</h3>
  				  {{{portfolio_time_month}}}
  				</span>
  				<span class="week figure">
  			    <h3>Week</h3>
  				  {{{portfolio_time_week}}}
  				</span>

				</div>
			</div>
		</section>
		<section class="half flexContainer">
			<div class="flex1 flexBorder">
			  <div class="header">
					<h3>New vs Returning Users</h3>
					<div class="information">
						{{{informationImg}}}
						<div class="informationContent">
						  {{{info_new_return}}}
						</div>
					</div>
				</div>
				<div class="chartArea">
					<span class="year figure">
  			    <h3>Year</h3>
  				  {{{portfolio_new_return_year}}}
  				</span>
  				<span class="month figure">
  			    <h3>Month</h3>
  				  {{{portfolio_new_return_month}}}
  				</span>
  				<span class="week figure">
  			    <h3>Week</h3>
  				  {{{portfolio_new_return_week}}}
  				</span>
				</div>
			</div>
			<div class="flex1">
				<div class="header">
					<h3>Time-of-Day Activity</h3>
					<div class="information">
					{{{informationImg}}}
					<div class="informationContent">
					  {{{info_time_of_day}}}
					</div>
				  </div>
				</div>
				<div class="chartArea">
  				<span class="year figure">
  			    <h3>Year</h3>
  				  {{{portfolio_timeDayUse_year}}}
  				</span>
  				<span class="month figure">
  			    <h3>Month</h3>
  				  {{{portfolio_timeDayUse_month}}}
  				</span>
  				<span class="week figure">
  			    <h3>Week</h3>
  				  {{{portfolio_timeDayUse_week}}}
  				</span>
				</div>
			</div>
		</section>
		<section class="disclaimerGlossary">
		  <div class="header">
				<h3>Disclaimer/Glossary</h3>
			</div>
		  {{{disclaimerGlossaryText}}}
		</section>
  </div><!--content-->
</div><!--container-->
