<div class="container flexContainer">
  {{{sideBar}}}
  <div class="content">
    <div class="topHalf">
      <div id="sessions" class="topicHeader">
        <h2>Sessions</h2>
      </div>
      <div id="Timelines" class="flexContainer">
        <div id="year" class="sessionTimeline flex1">
          <div class="timelinePlot">
            {{{portfolio_sessions_all}}}
          </div>
        </div>
      </div>
    </div>
    <div class="bottomHalf flexContainer">
      <div id="geo" class="flex1">
        <div class="topicHeader">
          <h2>Geographic Location</h2>
        </div>
        <div id="geoMap">
          {{{viz_geo_portfolio}}}
        </div>
      </div>
      <div id="deviceTraffic" class="flex1">
        <div class="topicHeader">
          <h2>Device Type</h2>
        </div>
        <div id="deviceType">
        {{{portfolio_device_type}}}
        </div>
        <div class="topicHeader">
          <h2>Traffic Source</h2>
        </div>
        <div id="traffic">
        {{{portfolio_source}}}
        </div>
        <div id="timeDay">
        {{{timeDayUse_port}}}
        </div>
        <div id="AveTime">
        {{{portfolio_time}}}
        </div>
      </div>
    </div>
    {{{disclaimerGlossaryText}}}
  </div>
</div>