<div class="container flexContainer">
  {{{sideBar}}}
  <div class="content flex1">
    <div class="topHalf">
      <div id="sessions" class="topicHeader flexContainer">
        <h2>Sessions</h2>
        <div id="users" class="flex1">
          new & returning users bar
        </div>
      </div>
      <div id="Timelines" class="flexContainer">
        <div id="year" class="sessionTimeline flex1">
          <h3>Annual</h3>
          <p>{{year1}} - {{year2}}</p>
          <div class="timelinePlot">
          {{{portfolio_year_sessions}}}
          </div>
        </div>
        <div id="month" class="sessionTimeline flex1">
          <h3>Month</h3>
          <p>{{month1}} - {{month2}}</p>
          <div class="timelinePlot">
          {{{portfolio_month_sessions}}}
          </div>
        </div>
        <div id="week" class="sessionTimeline flex1">
          <h3>Week</h3>
          <p>{{week1}} - {{week2}}</p>
          <div class="timelinePlot">
          {{{portfolio_week_sessions}}}
          </div>
        </div>
        <div id="day" class="sessionTimeline flex1">
          <h3>Day</h3>
          <p>-</p>
          <div class="timelinePlot">
          {{{portfolio_day_sessions}}}
          </div>
        </div>
      </div>
    </div>
    <div class="bottomHalf flexContainer">
      <div id="geo" class="flex1">
        <div class="topicHeader">
          <h2>Geographic Location</h2>
        </div>
        <div id="geoMap">
          {{{viz_geo_portfolio}}}
        </div>
      </div>
      <div id="deviceTraffic" class="flex1">
        <div class="topicHeader">
          <h2>Device Type</h2>
        </div>
        <div id="deviceType">
        {{{portfolio_device_type}}}
        </div>
        <div class="topicHeader">
          <h2>Traffic Source</h2>
        </div>
        <div id="traffic">
        {{{portfolio_source}}}
        </div>
      </div>
    </div>
    {{{disclaimerGlossaryText}}}
  </div>
</div>